nav {
  background: #ead5bf;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}
body {
  background-image: url("/img/background.png");
}
#logo {
  width: 60px;
  height: 60px;
}

#open-button {
  background-color: grey;
 color: white;
 
 padding: 15px;
 border:none;
 width: 280px;
 /* open button  */
}
#open-chat {
  position: fixed;
  bottom: 0;
  right: 0;
}
#chat-form {
  /* form container */
  display: none;
}
#send-button {
  background-color: green;
  color: white;
  /* position:fixed; */
  padding: 15px;
  border:none;
  width: 280px;
}
#close-button {
  background-color: red;
  color: white;
 
  padding: 15px;
  border:none;
  width: 280px;
}
