nav {
  background: #ead5bf;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}
body {
  background-image: url("/img/background.png");
  background-size: 100%;
}
#logo {
  width: 60px;
  height: 60px;
}

#open-button {
  background-color: grey;
  color: white;

  padding: 15px;
  border: none;
  width: 280px;
  /* open button  */
}
#open-chat {
  position: fixed;
  background-color: #ead5bf;
  width: 250px;
  bottom: 0;
  right: 0;
}
#chat-form {
 
  display: none;
}
#send-button {
  background-color: green;
  color: white;
  padding:15px;

  border: none;
  width: 280px;
}
#close-button {
  background-color: red;
  color: white;

  padding: 15px;
  border: none;
  width: 280px;
}
#open-chat textarea {
  width: 250px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  /* resize: none; */
  min-height: 200px;
}

#chat-header {
  font-size: 2em;

}
